body {
  font-family: 'Source Sans Pro', sans-serif;
}

#starsbackground {
  color: white;
  background-image: url("stars.jpg");
  background-repeat: repeat;
  background-position: bottom;
  padding-top: 3%;
}

/* Navbar CSS */

#icon {
  color: #46b65d;
  font-size: 36px;
}
#brand {
  margin-top: -.5%;
}
#brand a {
  letter-spacing: 5px;
  vertical-align: middle;
  color: white;
  font-size: 1.5em;
}

#starsbackground ul {
  list-style: none;
  display: inline;
}

#starsbackground li {
  display: inline;
  font-weight: bold;
}
#topmiddle, #right-side {
  margin-top: .5%
}
#topmiddle a {
  font-size: 1em;
}
ul a {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

ul img {
  height: 50px;
  width: 50px;
  display: inline;

}

.hovereffects a {
  color: white;
  text-decoration: none;
  padding: 26px;
  letter-spacing: 3px;
  font-size: 18px;
}

li a:hover, a:visited, a:active {
  color: white;
  text-decoration: none;
}

.greenbutton {
  border-style: solid;
  border-color: #46b65d;
  border-width: 2px;
  border-radius: 5px;
  padding: 8px 16px 8px 16px;
  font-size: 1em;
}

.greenbutton > a {
  color: #46b65d;
  letter-spacing: 1px;
  -webkit-transition: color 0s ease-out;
 -moz-transition: color 0s ease-out;
 -o-transition: color 0s ease-out;
 -ms-transition: color 0s ease-out;
 transition: color 0s ease-out;
 font-weight: normal;
}

.greenbutton:hover {
  color: white;
  background-color: #46b65d;
}

.hovereffects > ul > li > a:hover {
  color: #46b65d;
}

.hovereffects > a:hover {
  color: #46b65d;
}

.slackbutton {
  letter-spacing: 0px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: white;
  background-color: white;
  padding: 8px 8px 8px 8px;
  font-size: 1em;
  margin-left: 1%;
}

.slackbutton > a, .slackbutton > a:hover {
  color: black;
  letter-spacing: 0px;
}

.slackicon {
  height: 20px;
  width: 20px;
}

#right-side  {
  
}
#right-side a {
  font-size: 1em;
}

/* Header and logos */

#header {
  text-align: center;
  padding-top: 5%;
}

#header h1 {
  letter-spacing: 3px;
  font-size: 60px;
}

#header a {
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #46b65d;
  color: white;
  background-color: #46b65d;
  padding: 1.5% 3% 1.5% 3%;
  font-size: 16px;
  letter-spacing: 1px;
}
.toppad {
  padding-top: 5%;
}
#logos {
  padding-top: 10%;
  padding-bottom: 1%;

}
.logos2 {
  display: none;
}
.floatright {
  float: right;
}
.floatleft {
  float: left;
}
#logos img {
  height: 100px;
  width: 100px;
  display: block;
  margin: 0 auto;
}

#logos h2 {
  text-align: center;
  letter-spacing: 1px;
}

/* Bulleted List Area */

#bulletlists {
display: block;
background-color: #0a1028;
}
#bulletlists #bulletrow, #bulletlists #bulletrow2 {
  margin: 0% 20% 0% 20%;
}
#bulletlists p {
  font-size: 20px;
  text-align: center;
  padding: 5% 2% 2% 2%;
  color: white;
}
#bulletlists ul {
  font-size: 16px;
}
#bulletlists ul li {
  padding: 2% 1% 2% 1%;
  color: #46b65d;
}
#bulletlists ul li span {
  color: white;
  opacity: .7;
}
.bulletlists2 {
  display: none;
}
#getstartedbutton {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 1%;
}
#getstartedbutton a {
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #46b65d;
  color: white;
  background-color: #46b65d;
  padding: 1% 1.5% 1% 1.5%;
  font-size: 16px;
  letter-spacing: 1px;
}

/* Computer Area */
#computer {
  background: #0a1028;
  height: 150px;
}
#computerbackground img {
margin: 0 auto;
border: 1px solid silver;
border-radius: 15px;
position: relative;
top: -100px;
}

#computerbackground {
  background: #181c40;
}

/* Scrolling Area Erika's Code */

#scrollingarea {
  background-color: #0a1028;
}
#scrollingarea h3 {
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  
}
#scrollingarea h4 {
  color: silver;
  letter-spacing: 1px;
}
#topflow {
  display: inline
}
.arrows {
  margin-top: 65%;
  background: white;
  color: #0a1028;
  border-radius: 50%;
  opacity: .8;
  border: 1px solid white;
  font-weight: bold;
  font-size: 16px;
  width: 25px;
}
.arrows2 {
  display: none;
  background: white;
  color: #0a1028;
  border-radius: 50%;
  opacity: .8;
  border: 1px solid white;
  font-weight: bold;
  font-size: 16px;
  width: 25px;
}
.left {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.right {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrows:hover {
  opacity: 1;
}
.arrows:focus {
  outline: none;
}
.arrows2:hover {
  opacity: 1;
}
.arrows2:focus {
  outline: none;
}
.dotlinks {
  background: inherit;
  border: none;
  color: white;
  font-size: 32px;
  padding: 2%;
  opacity: .6;
}
.dotlinks:hover {
  opacity: 1;
}

.dotlinks:focus {
  outline: none;
}
.active {
  opacity: 1;
}
.show {
  display: block;
}
.hide {
  display: none;
}
/* Tabbed Area */
#tabbedarea {
  background: #181c40;
  padding-top: 2%;
  padding-bottom: 4%;
}

#tabbedarea h2 {
  color: white;
  letter-spacing: 1px;
  text-align: center;
}

#tabbedarea p {
  color: white;
  opacity: .7;
  text-align: center;
  font-size: 18px;
}

.tab {
  overflow: hidden;
  background-color: #181c40;
  padding-top: 2%;
}

.tab button {
  background-color: inherit;
  color: white;
  opacity: .6;
  letter-spacing: 1px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 18px;
}

.tab button:hover {
  color: white;
  opacity: 1;
}

.tab button.active1 {
  background-color: #111822;
  color: white;
  opacity: 1;
}

.tabcontent {
  display: none;
  padding: 3% 1%;
  background-color: #111822;
}

/* Bottom Navbar */
#botnav {
  background: #227870;
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
}

#botnav li {
  list-style: none;
  display: inline-block;
  padding: 28px 24px 24px 24px;

}
#botnav a {
  color: white;
}

/* Subscribe Area */
#subscribearea {
  background: #181c40;
  padding-bottom: 5%;
}
#subscribearea p {
  color: white;
  font-size: 28px;
  padding: 6% 0% 2% 0%;
}

#subscribearea input {
  width: 300px;
  height: 60px;
  background: #181c40;
  color: white;
  border: 1px solid grey;
  border-radius: 2px;
  padding-left: 1%;
  padding-right: 1%;
}

#subscribearea input:active {
  border: 1px solid #186194;
}

#subscribearea button {
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(34, 120, 112, 1);
  color: white;
  letter-spacing: 1px;
  font-size: 16px;
  padding: 18px 20px 20px 20px;
  margin-left: 3px;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}

#subscribearea button:hover {
  background: rgba(34, 120, 112, .7);
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}
/* Footer Area */
#footer {
  background: #0a1028;
  color: white;
  letter-spacing: 2px;
  padding-top: 1%;
  padding-bottom: 5%;
}

#footer h5 {
  padding: 2%;
}
.opacity6 {
  opacity: .6;
}
#heart {
  color: red;
}

#footer a {
text-decoration: none;
color: white;
}

#twitter {
  color: #00aced;
  font-size: 26px;
  padding-top: 5%;
  padding-bottom: 2%;
}

/*responsive settings*/

@media screen and (max-width: 900px) {
#starsbackground ul {
  display: block;
  padding: 0;
}
#starsbackground ul li {
  display: block;
  width: 100%;
  margin-top: 5%;
  text-align: center;
}
#right-side {
  margin-left: 0%;
}
#header h1 {
  letter-spacing: 3px;
  font-size: 3em;
}
#header h3 {
  font-size: 1.5em;
}
#header a {
  
  padding: 5%;
  font-size: 16px;
  letter-spacing: 1px;
}
.toppad {
  padding-top: 10%;
  padding-bottom: 50%;
}
#logos {
  display: none;
}
.logos2 {
  display: block;
  padding-top: 25%;
  padding-bottom: 10%;
  color: white;
  text-align: center;
}
.logos2 img {
  padding: 0% 30% 0% 30%;
}
#bulletlists #bulletrow {
  margin: 0%;
}
#bulletrow p {
  padding-top: 0%;
  padding-bottom: 10%;
}
#getstartedbutton {
  padding-top: 5%;
  padding-bottom: 10%;
}
#getstartedbutton a {
  padding: 3%;
  font-size: 16px;
}
.arrows {
  position: relative;
  top: 50px;
}
}

@media screen and (max-width: 400px) {
  #starsbackground {
    color: white;
    background-image: url("stars.jpg");
    background-repeat: no-repeat;
    background-position: top;
  }
  
  #starsbackground ul {
    display: block;
    padding: 0;
  }
  #starsbackground li {
    display: block;
    padding: 3%;
  }
  #brand {
    margin-top: 5%;
    text-align: center;
  }
  #brand a {
    letter-spacing: 5px;
    vertical-align: middle;
    color: white;
    font-size: 2em;
  }
  
  #topmiddle {
    padding: 5%;
    font-size: 1em;
  }
  #right-side {
    margin-left: 0%;
    text-align: center;
    font-size: 1em;
  }
  #right-side li {
    display: block;
    margin-top: 5%;
  }
  .slackbutton {
    margin-left: 0%;
  }
  #header h1 {
    letter-spacing: 3px;
    font-size: 2em;
  }
  #header h3 {
    font-size: 1.5em;
  }
  #header a {
    
    padding: 5%;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .toppad {
    padding-top: 20%;
    padding-bottom: 40%;
  }
  #logos {
    display: none;
  }
  .logos2 {
    display: block;
    padding-top: 40%;
    padding-bottom: 15%;
    color: white;
    text-align: center;
  }
  #bulletrow {
    display: none;
  }
  
  #bulletlists #bulletrow, #bulletlists #bulletrow2 {
    margin: 0% 0% 0% 0%;
  }
  .bulletlists2 {
    display: block;
  }
  .logos2 img {
    padding: 0% 30% 0% 30%;
  }
  #bulletlists #bulletrow {
    margin: 0%;
  }
  
  #bulletlists p {
    padding: 2% 0% 10% 0%;
  }
  #bulletlists ul li {
    padding: 5% 0% 5% 0%;
    letter-spacing: 0.5px;
  }
  #getstartedbutton {
    padding-top: 15%;
    padding-bottom: 35%;
  }
  #getstartedbutton a {
    padding: 8%;
    font-size: 16px;
  }
  #computer {
    background: #0a1028;
    height: 0px;
  }
  #computerbackground img {
  margin: 0 auto;
  position: relative;
  top: 0;
  }
  .arrows {
    display: none;
  }
  .arrows2 {
    display: block;
  }
  .scrollcontent {
    font-size: 1em !important;
    padding-top: 5%;
  }
  #tabbedarea {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .tab {
    padding-top: 5%;
  }
  .tab button {
    padding: 10px 16px;
    font-size: 1em;
  }
  #botnav ul {
    padding: 0;
  }
  #botnav li {
    display: block;
  }
  #subscribearea input {
    width: 80%;
  }
  #subscribearea button {
    margin-top: 10%;
  }
  #subscribearea p {
    letter-spacing: 1px;
  }
}